<div class="home-container">
    <header>
        <a href="//gmail.com">Gmail</a>
        <a href="//google.com/images">Images</a>
        <mat-icon>apps</mat-icon>
        <button>Sign in</button>
    </header>


    <main>
        <img src="assets/google_logo.png" alt="logo">
        <div class="search-box">
            <form #form="ngForm" (ngSubmit)="search(form)">
                <app-search rightIcon="false"></app-search>
            </form>
        </div>

        <div class="g-buttons">
            <button type="button" (click)="search(form)">Google search</button>
            <button>I'm Feeling lucky</button>
        </div>
    </main>
</div>
